// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px)

	h1
		font-size: 1em
	h2
		font-size: 1em
	p
		font-size: .9em

	.trust_triggers
		.p_wrap
			p
				width: 60px
				font-size: 8px
		.triger
			width: 60px
			height: 60px
			.image_triger
				img
					width: 30px

	.h2_wrap
		h2
			font-size: 22px

	.wrapper_container_menu
		background-color: $secondary_color
		padding-top: 10px
		padding-bottom: 10px
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.345)
		color: $primary_color
		.logo
			display: table
			height: 54px
			.logo_wrap
				display: table-cell
				vertical-align: middle
				img
					height: 36px

	.request
		font-size: 9px

	.phone
		a
	  	font-size: 12px

	.footer_col_1
		//text-align: center

	.footer_col_2
		border-left: none
		padding-left: 14px
		h4
			margin-bottom: 0
		ul
			font-size: 10px
			margin-top: 0
			padding-left: 0
			list-style-position: inside

	.footer
		.logo_wrap
			float: left
			img
				padding-right: 20px
				height: 70px
		.p_phone-footer, .p_mail-footer, .p_ooo_footer
			font-size: 14px

	.link_service_item
		font-size: 14px
		height: 200px
		width: 200px

	.servise_item
		.service_img
			img
				height: 80px
				max-width: 160px

	.service_p
		height: 100px
		width: 94%

	.table_wrap
		table
			width: 100%
			font-size: .8em
			td
				padding: 8px 4px

	/**/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px)
	/**/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)
	p
		font-size: 16px

	.table_wrap
		table
			width: 100%
			font-size: 1.2em
			td
				padding: 8px 4px

	.footer
		.logo_wrap
			img
				padding-right: 20px
				height: 80px
		.p_phone-footer, .p_mail-footer, .p_ooo_footer
			font-size: 16px

	.footer-copyright
	 	font-size: 14px

	.form_wrap
		margin: 20px
	/**/
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)

	.footer-copyright
		font-size: 18px

	.form_wrap
		margin: 20px

	.link_service_item
		font-size: 14px
		height: 200px
		width: 200px

	.servise_item
		.service_img
			img
				height: 80px
				max-width: 160px

	.service_p
		height: 100px
		width: 94%
		p
			font-size: 12px
	
	/**/
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
	/**/